@import '../../styles/media';
$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 15px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #FFF !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

// Types (Remove or comment out what you don’t need)
$hamburger-types: (
  spring,
) !default;
@import '/node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

.sidemenu {
	position: fixed;
	z-index: 2;
	top: 24px;
	left: 5px;
	opacity: 1;
  transition: all ease-in .35s;

  .hamburger {
    margin-top: 20px;
    @include media(">=desktop") {
      display: none;
    }
  }

  .logo {
    background-image: url('../../../assets/images/logo-sem-sergio.png');
    background-position: center center;
    background-size: 65%;
    background-repeat: no-repeat;
    width: 120px;
    max-width: 120px;
    height: 50px;
    transition: all ease .5s;
    margin-bottom: 24px;
  }

  .category-nav {

    accordion-group ::ng-deep {
      * {
        font-family: 'Atilla Normal';
        background-color: transparent;
        border: none;
        color: #fff;
        box-shadow: none;
        text-decoration: none;

      }

      .card-header,
      .btn {
        padding: 0
      }
      .card-header {
        padding-left: 15px;
      }

      .nav {
        padding-left: 32px;
      }

      a:hover,
      a:focus {
        color: #58edb1;
        text-decoration: none
      }

      a:active {
        color: #E8E825
      }

      .children {
        &:not(:last-child) {
          margin-bottom: 12px;
        }

        a:focus {
          span {
            color: #58edb1;
            text-decoration: none
          }
        }

        a:active {
          span {
            color: #E8E825
          }
        }

        a {
          cursor: pointer;

          &:hover,
          &:focus {
            background-color: transparent !important;
          }

          span {
            display: inline-block;
            width: 100%;
            line-height: 13px;
          }
        }
        .c-father {
          margin-bottom: 9px;
        }
        .c-children a{
          font-family: 'Arial';
          text-transform: uppercase;
          font-size: 12px;
          line-height: 0;
          margin-bottom: -10px;
          &:last-child(0){
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .section-nav {
    position: fixed;
    bottom: 20px;
    a {
      font-family: 'Arial';
      text-transform: uppercase;
      text-decoration: none;
      line-height: 0px;
      font-size: 13px;
      color: #FFF;
      padding-left: 20px;
      &:hover,
      &:focus {
        background-color: transparent !important;
      }
    }

    .action-buttons {
      margin-top: 24px;

      &__action {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: #58edb1;
        }

        i {
          font-size: 16px;
        }
        span {
          padding-left: 8px;
          text-transform: lowercase;
        }
      }
      @include media(">=phone", "<desktop") {
        display: none;
      }
    }
	}
	.panel-group .panel-heading + .panel-collapse > .panel-body,
	.panel-group .panel-heading + .panel-collapse > .list-group {
		border-top: 0;
	}
	.children {
		a {
			font-family: 'Arial';
			text-transform: uppercase;
			line-height: 13px;
			font-size: 12px;
			&:hover,
			&:focus {
				background-color: transparent !important;
			}
		}
		.c-father {
			margin-bottom: 9px;
		}
		.c-children a{
			font-family: 'Arial';
			text-transform: uppercase;
			font-size: 12px;
			line-height: 0;
			margin-bottom: -10px;
			&:last-child(0){
				margin-bottom: 10px;
			}
		}
	}

  @include media(">=phone", "<desktop") {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .35);
    -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    &.open {
      height: 100vh;
    }

    &.closed {
      height: 95px;
      background-color: transparent;
      backdrop-filter: none;


      .section-nav,
      .category-nav {
        display: none;
      }

    }

    .logo {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

}
