<nav class="sidemenu">

  <ul class="gallery-menu">
    <li *ngFor="let item of menuItems$ | async; let _index = index">
      <a (click)="isCollapsed = _index">{{item.title}}</a>
      <ul *ngIf="item.children" [collapse]="_index !== isCollapsed">
        <li *ngFor="let child of item.children">
          <a (click)="navigateToGalleryItem(item.sref, child.id, child.tipo_thumb, child.pages)">
            {{child.titlePt}}<br>
            {{child.titleEn}}
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="navigation-menu">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a [routerLink]="['/gallery']">Gallery</a>
    </li>
    <li>
      <a href="">Contact</a>
    </li>
    <li>
      <a href="">About Me</a>
    </li>
  </ul>
</nav>
