<nav class="sidemenu">
  <div class="category-nav">
    <accordion [closeOthers]="true" [isAnimated]="true">
      <accordion-group [heading]="item.title" *ngFor="let item of menuItems$ | async; let _index = index" class="parent">
        <ul class="nav flex-column nav-pills">
          <li *ngFor="let child of item.children" class="children">
            <a (click)="navigateToGalleryItem(item.sref, child.id, child.tipo_thumb, child.pages)">
              <span *ngIf="child.titlePt">{{child.titlePt}}</span>
              <span *ngIf="child.titleEn">{{child.titleEn}}</span>
            </a>
          </li>
        </ul>
      </accordion-group>
    </accordion>
  </div>
  <div class="section-nav">
    <ul class="nav flex-column nav-pills">
      <li><a href="">Contact</a></li>
      <li><a routerLink="/">Home</a></li>
      <li><a href="">About Me</a></li>
    </ul>
  </div>
</nav>
