<app-copyright [currentPage]="currentPage" [totalPages]="totalPages$ | async"></app-copyright>
<section class="view" *ngIf="selectedItem$ | async as image">
  <div class="prev-item" (click)="navigateTo(image.prev)" *ngIf="image.prev">
    <i class="icon icon-left"></i>
  </div>
  <div class="view-picture">
    <div class="paint-picture" [style.background-image]="getImageUrl(image.img_grande)"></div>
    <div class="caption">
      <span ng-if="image.primeira_linha" [ngStyle]="{'color': image.whiteText ? '#FFF' : '#000'}">
        {{image.primeira_linha}}<br>
        {{image.segunda_linha}}<br>
        {{image.terceira_linha}}<br>
        {{image.quarta_linha}}<br>
      </span>
      <a href="{{image.link}}" target="_blank" ng-if="image.link">{{image.texto_link}}</a>
    </div>
  </div>
  <div class="next-item" (click)="navigateTo(image.next)" *ngIf="image.next">
    <i class="icon icon-right"></i>
  </div>
</section>
