section.view {
  width: 100%;
  height: auto;
  max-height: 100vh;
  padding-left: 90px;
  display: flex;
  position: relative;
  overflow: hidden;

  .view-picture {
    flex: 1;
    position: relative;

    .paint {
      width: 100%;
      height: auto;
    }

    .caption {
      position: absolute;
      bottom: 6px;
      right: 8px;
      color: #FFF;
      text-align: right;
      font-size: 14px;
    }
  }


  .prev-item,
  .next-item {
    align-self: flex-end;
    padding: 0 24px;
    cursor: pointer;
    margin-bottom: 90px;

    &.hidden {
      opacity: 0;
    }
  }

  .prev-item {
    width: 20px;
    height: 80px;
    margin-right: 16px;
  }

  .next-item {
    width: 22px;
    height: 82px;
  }
}
