@import './styles/media';

main.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  transition: background ease .65s;

  &.main {
    background-color: transparent;
  }
  &.gradient {
    background: linear-gradient(to right,#938f90 0,#fff 100%);
  }

  h1 {
    color: #FFF;
    text-align: center;
    width: 100%;
  }

  @include media(">=phone", "<desktop") {
    display: block;
  }
}

.menu-wrapper {
  min-width: 252px;
  width: 252px;
  left: 0;

  @include media(">=phone", "<desktop") {
    width: 100vw;
    max-height: 100vh;
  }

  @include media(">=desktop") {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  }

}

.content-wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include media(">=phone", "<=tablet") {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }
}

.dynamic-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.copyright {
  font-size: 14px;
  text-align: right;
  color: #fff;
  padding-top: 5px;
  padding-right: 120px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
