@import './styles/media';

main.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;

  h1 {
    color: #FFF;
    text-align: center;
    width: 100%;
  }
}

.menu-wrapper {
  min-width: 252px;
  width: 252px;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    display: none;
  }

}

.content-wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 100vw;
    max-width: 100%;
  }
}

.dynamic-background {
  width: 100vw;
  height: 100vh;
  // background: url('http://sergiorighini.com/2016/img/banners/217fe74d1d8eca02876d23ddfc7720a5.jpg');
  // background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.copyright {
  font-size: 14px;
  text-align: right;
  color: #fff;
  padding-top: 5px;
  padding-right: 120px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
