@import '../../styles/media';



section.about-me {
  width: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;

  .content-wrapper {
    height: 100vh;
    width: 610px;
    margin-right: 36.5%;
  }

  .about-me__title {
    display: none
  }

  @include media(">=phone", "<desktop") {

    background-position: top center;
    background-size: cover;

    .about-me__title {
      padding-left: 16px;
      padding-bottom: 18px;
      font-weight: lighter;
    }

    .content-wrapper {
      width: 100vw;
      height: calc(100vh);
      margin: 0;
      padding: 64px 16px 16px 16px;
      overflow-y: auto;
      .content {
        width: 100vw !important;
      }
      div {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

}
