$spinner-color: rgba(255, 255, 255, .65);
$spinner-size: 60px;

@import "~scss-spinners/spinners";

section.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;

  .thumbs-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 0 0 48px;

    .thumb {
      background-position: top center;
      background-size: cover;
      margin: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.large {
        width: 468px;
        height: 468px;
      }

      &.medium {
        width: 300px;
        height: 300px;
      }


      .spinner {
        opacity: 1;
        will-change: opacity;

        &.hidden {
          opacity: 0;
        }
      }
    }
  }
}
