<app-copyright [currentPage]="currentPage" [totalPages]="totalPages"></app-copyright>
<section class="gallery" *ngIf="selectedGalleryItem$ | async as selectedItem">
  <div
    class="prev-item"
    (click)="navigateToPage('PREV')"
    [ngClass]="selectedItem.pages > 1 && convertToInt(currentPage) > 1 ? 'visible' : 'hidden'">
    &nbsp;
  </div>
  <div class="thumb-wrapper" [ngClass]="thumbType == '1' ? 'large' : 'medium'">
    <div *ngFor="let thumb of galleryImages$ | async; let _index = index" class="thumb" (click)="selectItem(thumb.id)">
      <div class="thumb__loader" [attr.loaderId]="'loader-' + _index" #loaderElm>
        <div class="custom-loader">Loading...</div>
      </div>
      <img [src]="mountImageUrl(thumb)" (load)="closeLoader(loaderElm)" class="thumb__image" [alt]="thumbType">
    </div>
  </div>
  <div class="next-item" (click)="navigateToPage('NEXT')" [ngClass]="selectedItem.pages > 1 && currentPage !== selectedItem.pages.toString() ? 'visible' : 'hidden'">&nbsp;</div>
</section>
