<div class="desktop">
  <app-copyright [currentPage]="currentPage" [totalPages]="totalPages$ | async"></app-copyright>
  <section class="gallery" *ngIf="selectedGalleryItem$ | async as selectedItem">
    <div
      class="prev-item"
      (click)="navigateToPage('PREV')"
      [ngClass]="convertToInt(currentPage) === 1 ? 'hidden' : 'visible'">
      <i class="icon icon-left"></i>
    </div>
    <div class="thumb-wrapper" [ngClass]="thumbType == '1' ? 'large' : 'medium'">
      <div *ngFor="let thumb of galleryImages$ | async; let _index = index" class="thumb" (click)="selectItem(thumb.id)">
        <img [src]="mountImageUrl(thumb)" class="thumb__image" [alt]="thumbType" ondragstart="return false">
      </div>
    </div>
    <div class="next-item" (click)="navigateToPage('NEXT')" [ngClass]="selectedItem.pages > 1 && currentPage !== selectedItem.pages.toString() ? 'visible' : 'hidden'">
      <i class="icon icon-right"></i>
    </div>
  </section>
</div>
<!-- mobile template -->
<div class="mobile">
  <div class="copyright-mobile">Copyright &copy; 2021 - Sergio Righini - {{currentMobilePage}}/{{(allImages$ | async)?.length}}</div>
  <carousel [isAnimated]="false" appCarouselSwipe [startFromIndex]="0" [interval]="0" (activeSlideChange)="activeSlideChanged($event)">
    <slide *ngFor="let image of allImages$ | async let _index = index">
      <div class="bg-wrapper" [ngStyle]="{'background-image': getImageUrl(image)}">
        <div class="carousel-caption d-block">
          <div class="content" [ngStyle]="{'color': image.whiteText ? '#FFF' : '#000'}">
            <a
              *ngIf="image.texto_link; else caption"
              class="image-link"
              [href]="image.link"
              target="_blank">
              <span>{{image.texto_link}}</span>
            </a>
            <ng-template #caption>
              <div class="text-wrap">
                <div class="text">
                  <p>{{image.primeira_linha}}</p>
                  <p>{{image.segunda_linha}}</p>
                  <p>{{image.terceira_linha}}</p>
                  <p>{{image.quarta_linha}}</p>
                </div>
              </div>
            </ng-template>
            <div class="shadow"></div>
          </div>
        </div>
      </div>
      <!-- <img [src]="getImageUrl(image)" [alt]="image.titulo"> -->
    </slide>
  </carousel>
</div>

