$spinner-color: rgba(255, 255, 255, .65);
$spinner-size: 60px;

@import "~scss-spinners/spinners";
@import '../../styles/media';

::ng-deep .carousel .carousel-control-prev-icon,
::ng-deep .carousel .carousel-control-next-icon {
  background-color: #000;
  width: 50px;
  height: 50px;
  background-size: 41%;
  border-radius: 50%;
}

::ng-deep .carousel .sr-only {
  display: none;
}

@include media(">phone", "<desktop") {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    width: 100vw;
    height: 100vh;
  }
}
@include media(">=desktop") {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

section.gallery {
  max-height: 100vh;
  padding-left: 90px;
  display: flex;
  position: relative;
  padding-top: 50px;

  .thumb-wrapper {
    column-gap: 5px;
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;

    &.medium {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .thumb {
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      opacity: 0.75;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out;

      max-width: 468px;
      max-height: 468px;


      @media screen and (max-width: 1024px) {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }

      &__loader {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity ease .65s;

        img {
          object-fit: fill
        }

        &.hidden {
          display: none;
          // opacity: 0;
        }
      }

      &__image {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .prev-item,
  .next-item {
    align-self: flex-end;
    padding: 0 24px;
    cursor: pointer;
    padding-bottom: 90px;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .prev-item {
    width: 20px;
    height: 80px;
    margin-right: 16px;
  }

  .next-item {
    width: 22px;
    height: 82px;
  }
}


.custom-loader,
.custom-loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.custom-loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
