.copyright {
  color: #FFF;
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  position: absolute;
  right: 120px;
  text-align: right;
  top: 5px;
  width: 100%;
  z-index: 50;
}
